#contato{
    background: linear-gradient(#9faaae, #333);
}

.contato-row{
    box-shadow: 0 25px 32px rgba(0, 0, 0, 0.8);
    border-radius: 65px;
    background-color: #e9ecef;
}
.contato-colunas{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.icone-telefone-contato{
    color: var(--azul-principal);
}
.titulo-contatos{
    font-weight: bold ;
}
.titulo-contatos::after{
    display:flex;
    position: relative;
    content:" ";
    height: 2px;
    width:100%;
    background-color: var(--azul-principal);
}
.wpp-contato-icone{
    width:25px;
}
.horario-ctt-topo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.relogio-ctt-icone{
    color: var(--bootstrap-primary);
    font-size:50px;
}
.contato-colunas a{
    color: var(--preto);
}
.contato-colunas a:hover *{
    color: var(--azul-principal);
}

/*FORMULARIO CONTATO*/
.formulario_contato input, #submit{
    border: none;
    outline: none;
    display: block;
}
.formulario_contato input {
    width: 100%;
    background-color: transparent;
    margin-bottom: 1em;
    font-size: 20px;
    padding: 1em 0 0.5em 0.5em;
    border-bottom: 2px solid #202020;
}
.formulario_contato #submit {
    position: relative;
    left: 0;
    font-size: 1.1em;
    width: 7em;
    background-color: #3492eb;
    color: white;
    padding: 0.8em 0;
    margin-top: 2em;
    border-radius: 0.3em;
}
.formulario_contato #message-ref {
    font-size: 0.9em;
    margin-top: 1.5em;
    color: #34bd34;
    visibility: hidden;
  }

@media(max-width: 991px){
    .contato-colunas{
        margin:12px;
        padding:5px;
    }
    
}
@media(max-width: 375px){
    .email-ctt{
        font-size: 17px;
    }
}