/*PADRONIZAÇÕES*/
*{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --transicao-principal: 0.1s all linear;
    --bootstrap-primary: #007bff;
    --bootstrap-primary-light: #189BFF;
    --azul-principal: #1686d8;
    --azul-principal-drk: #0d569c;
    --azul-palido: #add2f0;
    --azul-pergunta: #409fe7;
    --laranja-principal: #f09101;
    --speedtest: #141526;
    --bg-footer: #333;
    --bg-claro: #fefefe;
    --branco: #fff;
    --preto: #000;
}
/*HEADER*/
.display_none{
    display:none;
}
.display_block{
    display:block;
}
.background_header{
    background: linear-gradient(#fefefe, #9faaae);
}
.container_header{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo_img{
    width:150px;
}
a {
    text-decoration: none!important;
}
strong, azul{
    color: var(--azul-principal)!important;
}
.menu_header{
    display:flex;
}   /*NAVBAR*/
    .menu_header li{
        margin-top: 17px;
        padding-top: 10px;
        padding-left:30px;
    }/*ITEMS DO NAVBAR*/
        .menu_header li a{
            font-size: 17px;
            font-weight: bold;
            color: var(--preto);
        }
        .menu_header li:hover *{
            color: var(--azul-principal);
        }
        .menu_header li::after,.icones-redes a::after, #submenu li a::after{
            margin-top: 10px;
            display:flex;
            content: " ";
            width: 0%;
            height: 3px;
            background-color: var(--azul-principal);
            transition: 0.1s all linear;
        }/*PSEUDO-DIV PARA OS HOVER*/
        .menu_header li:hover::after, .icones-redes a:hover::after, #submenu li a:hover::after{
            width: 100%;
        }
        .sub-menu-1{
            z-index: 1!important;
            display:none;
            font-weight: 300!important;
            background-color: #9faaae;
            box-shadow: 0 25px 32px rgba(0, 0, 0, 0.8);
            border-radius: 15px;
        }/*SUB-MENU NAVBAR*/
            .sub-menu-1 li{
                margin:0;
                padding:10px 10px!important;
            }
            .sub-menu-1 li a{
                font-size: 16px;
            }
            .sub-menu-1 li::after{
                margin-top:0;
                background-color: var(--azul-principal);
            }
            nav ul li:hover .sub-menu-1{
                display:block;
                position:absolute;
            }
            .icones-redes-mobile{
                z-index: 1;
                margin-bottom: 50px;
            }
.btn_cliente{
    transition: var(--transicao-principal);
    display:flex;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
    margin-left: 40px;
    font-weight: 400;
    background-color: var(--azul-principal);
}/*BOTAO CLIENTE NAVBAR*/
    .btn_cliente a{
        margin-left: 3px;
        margin-top:4px; 
        color: var(--branco);
    }
    .btn_cliente a:hover{
        color: var(--branco);
    }
    .btn_cliente:hover{
        background-color: var(--azul-principal-drk);
    }
    .btn_cliente img{
        width:15px;
        color:var(--branco);
    }
.icones-redes{
    padding-left: 15px;
    display:flex;
}/*ICONES REDES SOCIAIS HEADER*/
    .icones-redes a{
        margin-right: 10px;
    }
    .icones-redes img{

        width: 30px;
    }
    .icones-redes a::after{
        background-color: var(--preto);
    }/*SOBRESAINDO ALTERACOES DO HOVER JA DEFINIDO*/
.dropdown-mobile, .navbar-mobile{
    display:none;
}
/*FOOTER*/
.bg-footer{
    background: linear-gradient(var(--bg-footer), var(--preto));;
    color: #fff;
}
.icones_fontawesome{
    width: 20px;
}
.icones_fontawesome_local{
    width: 15px;
}
.logo_footer{
    width: 150px;
}
.footer-links li{
    transition: var(--transicao-principal);
    padding: 5px;
    border: 1px solid #fff;
    margin: 3px;
    border-radius: 10px;
}
.footer-links-sub li{
    transition: var(--transicao-principal);
    margin-left:5px;
    padding:2px;
    border: 1px solid #fff;
    border-radius: 7px;
}
    .footer-links li:hover, .footer-links-sub li:hover{
        background-color: #828c94;
        color: #fff;
    }
    .footer-links li a, .footer-links-sub li a{
        color: #fff;
        font-size: 14px;
    }
    .redes-footer a{
        color:#fff;
    }
/*ÍCONE WHATSAPP*/
@keyframes bounceInUp {
    0%, 20%, 50%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    20% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(10px);
    }
    80% {
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: none; /* Inicia oculto */
    animation: bounceInUp 1s ease-out 0s; /* Adiciona a animação com atraso de 3 segundos */
}

.whatsapp-icon:hover {
    transform: scale(1.1); /* Aumenta o tamanho em 10% no hover */
}

.whatsapp-icon img {
    width: 80px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Adiciona a mesma transição para o ícone */
}

/*BANNERS*/
.main_background{
    background: linear-gradient(#fefefe, #9faaae);
}
.container-banner{
    width: 100%;
}
/*PLANOS DE INTERNET*/
.pre_plano{
    font-size: 50px !important;
    color: #333;
    font-weight: 550;
}
.planos{
    border-radius: 20px;
    margin: 7px;
    margin-bottom: 60px;
    background-color: #333;
    box-shadow: 0 25px 32px rgba(0, 0, 0, 0.8);
}
.planos:hover{
    transform: scale(1.02);
}
.planos img{
    width: 50px;
    border-radius: 20px;
}
.planos p{
    margin: 8px;
}
.texto-upload{
    font-size: 13px;
    color: #eee;
    text-align: center;
    border-bottom: 1px solid #bbb;
    background-color: var(--azul-principal);
    padding-bottom: 10px;
}
.beneficios_planos p{
    font-size: 18px;
    padding-left: 10px;
    width:99%;
    margin: 0px;
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
    font-weight: 400;
}
.icones_beneficios_planos{
    color: var(--azul-principal);
}

.container_assineJa a{
    color: var(--branco);
    border-radius: 0px 0px 20px 20px 
}
.assineJa_inside{
    display:flex;
    justify-content: center;
    padding:15px 10px;
    margin-bottom: 0px;
}
.assineJa_inside:hover{
    color: var(--branco);
}
.assineJa_inside h4{
    transition: var(--transicao-principal);
    font-size: 23px;
    border-radius: 7px;
    padding:5px 70px;
    background-color: transparent;
    border: 1px solid white;
    margin-bottom: 0px;
}
.assineJa_inside h4:hover{
    transition: var(--transicao-principal);
    color: #000;
    background-color: #fff;
    border: 1px solid #ede9e9;
}
.container_preco{
    justify-content: center;
    align-items: flex-end;
    display:flex;
    padding:20px;
}
.container_preco h1{
    font-size: 50px;
}
.container_preco p{
    margin-right:3px;
    margin-bottom: 5px;
    font-size: 18px;
}

/*BENEFICIOS*/
.section_background{
    background: linear-gradient(#9faaae, #333);
}
.centraliza_container_beneficios{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_beneficios{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container_beneficios .card_beneficios{
    position: relative;
    cursor: pointer;
    margin: 0% 0.5% 1% 0.5%;
    width: 100%;
}

.container_beneficios .card_beneficios .face{
    width: 100%;
    height: 200px;
    transition: 0.5s;
}

.container_beneficios .card_beneficios .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container_beneficios .card_beneficios:hover .face.face1{
    background: #0500FF;
    transform: translateY(0);
}

.container_beneficios .card_beneficios .face.face1 .content{
    opacity: 0.5;
    transition: 0.5s;
}

.container_beneficios .card_beneficios:hover .face.face1 .content{
    opacity: 1;
}

.container_beneficios .card_beneficios .face.face1 .content img{
    max-width: 100px;
}

.container_beneficios .card_beneficios .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container_beneficios .card_beneficios .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container_beneficios .card_beneficios:hover .face.face2{
    transform: translateY(0);
}

.container_beneficios .card_beneficios .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container_beneficios .card_beneficios .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container_beneficios .card_beneficios .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}


/*RESPONSIVIDADE*/
@media(max-width: 1000px){
    .beneficios-card h4{
        font-size: 18px;
    }
    .icone_wifi{
        font-size: 25px;
    }
    .titulo_megas{
        font-size: 50px;
    }
    .texto-megas{
        font-size: 20px;
    }
    .assineJa_inside h4{
        padding: 8px;
    }
    .container_preco h1{
        font-size: 30px;
    }
}
@media(max-width: 769px){
    .logo_img{
        width: 115px;
    }
    .container_beneficios .card_beneficios {
        width: 48%; /* Adjust the width for larger screens */
    }
    .container_beneficios {
        flex-wrap: wrap;
    }
    .titulo-teste img{
        padding-left:8px;
        width: 102px;
    }
    .pre_plano{
        font-size: 28px;
        margin: 7px;
    }
    .icone_wifi{
        font-size: 40px;
        display:inline-block;
    }
    .titulo_megas{
        font-size: 40px;
    }
    .texto-megas{
        font-size: 20px;
    }
    .icones-redes{
        margin-right:30px;
    }
    .icones-redes a{
        margin-left: 15px;
        
    }
    .dropdown-mobile, .navbar-mobile{
        display:block;
    }
    #menu-mobile{
        z-index: 1000;
        width: 100%;
        margin-top:17px;
        position: absolute;
        bottom:1;
        left:0;
    }
        #menu-mobile li{
            font-weight: 400;
            width: 100%;
            padding: 8px;
            padding-left: 20px;
            border-bottom: #ccc solid 1px;
            background-color: #eee;
        }
        #menu-mobile #submenu-mobile{
            margin-left: 15px;
        }
        #submenu-mobile{
            list-style: none;
        }
        #submenu-mobile li{
            font-weight: 200;
            padding:4px;
            width: 70%;
        }
        #menu-mobile li a, #menu-mobile #submenu-mobile li a{
            color: var(--preto);
        }
        #menu-mobile li a:hover,#menu-mobile #submenu-mobile li a:hover{
            color: var(--azul-principal);
        }
    .container_header{
        justify-content: space-between;
    }
    .icone-menu{
        display:flex;
        align-items: center;
        font-size: 28px;
        cursor: pointer;
    }
    .icone-menu:hover{
        color: var(--azul-principal);
    }
    .navbar_all{
        display:none;
    }
    .container_preco h1{
        font-size: 50px;
    }
    .assineJa_inside h4{
        padding:5px 70px;
    }
}
@media(max-width:425px){
    .contatos-footer p{
        font-size: 15px;
    }
    #menu-mobile{
        margin-top: 13px;
    }
    .container_assineJa h4{
        font-size: 20px;
        padding: 8px 13px;
    }
    .container_preco h1{
        font-size: 40px;
    }
    .beneficios_planos p{
        font-size: 13px;
    }
    .pre_plano{
        font-size: 22px;
        padding:14px;
    }
    .titulo-teste img{
        width: 77px;
    }
    .logo_footer{
        width:100px;
    }
    .footer-links li{
        font-size: 15px;
    }
    .footer-links-sub li{
        text-align: center;
        font-size: 12px;
    }
    .copyright{
        font-size: 12px;
    }
    .container-perguntas h3{
        font-size: 20px;
    }
    .area-btn-teste a{
        padding: 7px 30px;
        font-size: 18px;
    }
    .topo-velocidade h1{
        font-size: 20px;
    }
    .topo-velocidade{
        text-align: center;
        align-items: center;
        display:flex;
        flex-direction: column;
    }
    .icone_wifi{
        font-size: 50px;
    }
    .titulo_megas{
        font-size: 50px;
    }
    .texto-megas{
        font-size: 25px;
    }
    .icones-redes{
        display:none;
    }/*ICONES REDES SOCIAIS HEADER*/
}
@media(max-width:320px){
    .icone_wifi{
        font-size: 30px;
    }
    .assineJa_inside h4{
        padding: 8px;
    }
}