.top-tConosco{
    color: var(--bootstrap-primary-light);
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 32px rgba(0, 0, 0, 0.8);
    background-color: #e9ecef;
    border-radius: 65px;
}
.bottom-tConosco{
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.8);
    background-color: #e9ecef;
    border-radius: 65px;
    margin-top: 55px;
}
.area-vagas-tConosco a{
    transition: var(--transicao-principal);
    margin-top: 5px;
    border-radius: 7px;
    padding:10px 30px;
    font-size: 20px;
    background-color: var(--azul-principal);
    color: var(--branco);
}
.area-vagas-tConosco a:hover{
    color: var(--branco);
    background-color: #0d569c;
}